/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Base CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #555;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #e02b2b;
}

.nav-item {
    padding-left: 50px;
}
