
.form-group{
    float: left;
    height: 100%;
    width: 40%;
   padding-left: 10%;
}
.danh-sach{
  
    float: right;
    height: 100%;
  width: 60%;
  text-align: center;
}
label{
    font-weight: bold;
}
